*{
	font-family: 'Poppins', sans-serif !important;
}

/* body */
body{
    padding-bottom: 6rem
}



/* Footer */
.footer-height{
    height: 40vh !important;
    overflow-y: hidden;
}
.footer-fix{
    position: fixed;
    bottom: 0;
}

.text-inline{
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
